
{% import _self as tree %}
{% macro pages(pages,  rootPages) %}
    <ul{% if rootPages %} class="nav navbar-nav" {% else %} class="dropdown-menu" {% endif %} >
        {% for page in pages if (not page.parent or not rootPages or not page.parent.parent )%}
            <li {% if page.children|length and page.parent  %} class="dropdown " {% endif %}>
				   <a href="{{ path('page', { 'url': page.fullUrl }) }}" >{{ page.name }}</a>

                {% if page.children|length and page.parent  %}
                    {{ _self.pages(page.children,  false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
 


{{ tree.pages(pages, true) }}
